DJANGO_SECRET_KEY=TVUJ_PRODUKCNI_SECRET_KEY
DJANGO_DEBUG=False
SITE_URL=https://bignercze.pythonanywhere.com

EMAIL_TRANSPORT=smtp

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=wes1-smtp.wedos.net
EMAIL_PORT=587
EMAIL_HOST_USER=elektroakademie@revitec.cz
EMAIL_HOST_PASSWORD=Qwer1234.

EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

DEFAULT_FROM_EMAIL=elektroakademie@revitec.cz
SERVER_EMAIL=elektroakademie@revitec.cz
EMAIL_TIMEOUT=20

EMAIL_FROM_ACTIVATION=aktivace@elektroakademie.cz
EMAIL_FROM_INVOICES=faktury@elektroakademie.cz
EMAIL_FROM_CERTIFICATES=osvedceni@elektroakademie.cz

EMAIL_REPLY_TO=