{% load static %}
<!DOCTYPE html>
<html lang="cs">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Elektroakademie{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'courses/css/base.css' %}?v=3">
        <link rel="stylesheet" href="{% static 'courses/css/app.css' %}?v=1">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <header class="topbar">
            <div class="container topbar-inner">
                <a href="{% url 'index' %}" class="logo" id="home-link">
                    <img src="{% static 'courses/img/tmave_pozadi_cropped.svg' %}" alt="Elektroakademie"
                        class="logo-image">
                </a>

                <nav class="top-navigation">
                    <a href="{% url 'index' %}#courses" class="menu-button">Videokurz</a>

                    {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="login-link">Na Kurz!</a>
                    <form method="post" action="{% url 'logout' %}" class="logout-form">
                        {% csrf_token %}
                        <button type="submit" class="outline-button">Odhlásit se</button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}" class="login-link">Přihlásit se</a>
                    <a href="{% url 'register' %}" class="outline-button">Registrace</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        {% block extra_js %}{% endblock %}
    </body>

</html>